
.card {
    max-width: 26rem;
    background-color: yellow;
    margin: 67px;
    padding: 20px;
}

.wishes {
    color: #2b6b5c;
    font-family: 'Acme', sans-serif;
    font-size: 100px;
    margin-top: 200px;
    margin-left: 369px;
}